 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

/*
body{
  font-family: 'Open Sans', sans-serif;
}

.nav{
  width: 100%;
  height: 5rem;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.4);
  position:fixed;
  display: absolute;
  top:0;
  background-color: #576F72;
  }

.nav_container{
  display: flex;
  align-items: flex-start;
  align-items: center;
  height: 4rem;
  padding: 2rem;
}

.nav_right{
 justify-content: center;
 display: flex;

}

a{
  text-decoration: none;
  color: #F0EBE3;
  cursor: pointer;
  justify-content: center;
  display: flex;
  margin-left: 2rem;

}



a>h2{
  color: #F0EBE3;
  flex: 1;
  

}
h2{
  color: rgb(238, 226, 157);
  flex: 1;
}

.cart{
  height: 1.3rem;
  width: 1.3rem;
}

a>strong{
border-radius: 100%;
width: 1.5rem;
display: flex;
justify-content: center;
  background-color: rgb(49, 46, 46);
  color: rgb(243, 184, 20);
}

.home{
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-evenly;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.product-item{
  padding: 1rem;
  margin: 1rem 0.5rem;
  background-color: rgb(222, 230, 217);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.2);
}

a>img{
  margin-bottom: 1rem;
}

.product-details{
  display: inline-block;
  height: 20rem;
  width: 16rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.cart-box{
margin-top: 1rem;
margin-left: 2rem;
display: ;
  
}

.cart-box h3{
  font-size: 20px;
}

.cart-col1>img{
  height: 4rem;
  width: 4rem;
}

.shopping-cart{
  padding-left: 1rem;
  font-size: 1.5rem;
  color:orange;
  cursor: pointer;
}

.cart-col2>span:nth-of-type(1){
  font-weight: bold;
  margin: 10px;
}

.cart-col2>span:nth-of-type(3){
  font-weight: bold;
  margin: 10px;
}

.cart-col3{
  display: flex;
  align-items: center;
}

.minus, .plus, .delete{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  border: 1px solid rgb(78, 78, 88);
  cursor: pointer;

}
.value{
  margin: 1rem;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
}

.cart-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  gap:0.5rem;
  width: 90%;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.4);
  background-color: rgb(161, 190, 190);


}

.checkout{
  display: flex;
  width: 40%;
  height: 8rem;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.4);
  background-color: rgb(161, 190, 190);

}

.button{
  font-size: 1rem;
  font-weight: bolder;
  color:white;
  background-color:  rgb(124, 109, 21);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;

}

.button:hover{
background-color: white;
color:rgb(124, 109, 21) ;
border: 1px solid rgb(124, 109, 21);
}

.checkout-page{
  margin-top: 7rem;
  padding-left: 4rem;
  display: grid;
  grid-template-rows: auto;
}

input{
  width: 30%;
  height: 2rem;
  margin-bottom: 0.5rem;
  outline: none;
  padding: 0.2rem;
  background-color: rgb(193, 206, 206);
  color: rgb(48, 45, 45);
  border-radius: 0.5rem;
  font-size: 14px;
  padding-left: 1rem;
}

form>div{
  display: flex;
  flex-direction: column;
  
}

div>button{
  width: 10rem !important;
}

input.input-error,
select.input-error{
  border-color: red; 
}

.button-out{
  background-color: red !important;
  color: white !important;
}   */